<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>build your resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/main.css">
    <!-- <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/resume.css"> -->
   <style>
    h1{
        text-align: center;
    }
    .container{
        margin-top: 100px;
        padding: 50px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        background-color: white;
    }
   </style>
</head>
<body>
    <nav class="navbar navbar-inverse" style="margin: 0;">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" ><img src="{{url_for('static', filename='img.jpg')}}" width="40px"></a> -->
            <a class="navbar-brand" >Job Portal</a>
              </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/appliedjobs">applied jobs</a></li>
                <li><a href="/search">Serch</a></li>
                <li ><a href="/buildresume">Resume</a></li>
                <li ><a href="/jobs"></span>Jobs</a></li>
                <li ><a href="/profile"></span>Profile</a></li>
                <li ><a href="/quiz"></span>Quiz</a></li>
               <li ><a href="/logout"></span>Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      

        {% block content %}
        {% if msg %}
        <div class="alert alert-danger alert-dismissible fade in" style="padding: 10px 10%;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
          <strong>{{msg}}</strong>
        </div>
        {% endif %}
        {% endblock content %}
 
      <div class="container">
            <form action="/recommend" method="post">
                <h1>JOB RECOMMENDATION</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="">Database Fundamentals</label>
                        <select name="skill1" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Computer Architecture</label>
                        <select name="skill2" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Distributed Computing Systems</label>
                        <select name="skill3" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="">Cyber Security</label>
                        <select name="skill4" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Networking</label>
                        <select name="skill5" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Software Development</label>
                        <select name="skill6" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="">Programming Skills</label>
                        <select name="skill7" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="skill8">Project Management</label>
                        <select name="" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Computer Forensics Fundamentals</label>
                        <select name="skill9" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="">Technical Communication</label>
                        <select name="skill10" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">AI ML</label>
                        <select name="skill11" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Software Engineering</label>
                        <select name="skill2" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="">Business Analysis</label>
                        <select name="skill13" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Communication skills</label>
                        <select name="skill4" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Data Science</label>
                        <select name="skill15" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="">Troubleshooting skills</label>
                        <select name="skill16" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="">Graphics Designing</label>
                        <select name="skill17" id="" class="form-control">
                            <option value="0">Not Interested</option>
                            <option value="1">Poor</option>
                            <option value="2">Beginner</option>
                            <option value="3">Average</option>
                            <option value="4">Intermediate</option>
                            <option value="5">Excellent</option>
                            <option value="6">Professional</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for=""></label>
                        <input type="submit" class="form-control btn btn-success" value="Submit">
                    </div>
                    
                </div>
            </form>
            <hr>
            <center>
            {% if pred %}
            {% set job = pred %}
                <h3>recommended job is <b>{{ pred }}</b>, Click <a href="{{ url_for('posts', job = job) }}">here</a> to view posts</h3>
            {% endif %}
        </center>
      </div>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="http://127.0.0.1:5000/static/js/main.js"></script>

</body>
</html>